.red{
    background-color: #ff0b0c;
}
.red-text{
color: #ff0b0c;
}
.black{
background-color: black;
}
.black-text{
color: black;
}
.white{
background-color: white;
}
.white-text{
color: white;
}
.green{
background-color: #0ca10d;
}
.green-text{
color: #0ca10d;
}
.blue{
background-color: #0bc7ff;
}
.blue-text{
background-color: #0bc7ff;
}